@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gidole';
  src: url('./assets/fonts/Gidole-Regular.otf');
}

.carbon {
  background: linear-gradient(27deg, rgba(0, 0, 0, 1) 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, rgba(0, 0, 0, 1) 5px, transparent 5px) 10px 0px, linear-gradient(27deg, rgba(2, 2, 2, 1) 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, rgba(2, 2, 2, 1) 5px, transparent 5px) 10px 5px, linear-gradient(90deg, rgba(4, 4, 4, 1) 10px, transparent 10px),
    linear-gradient(
      rgba(6, 6, 6, 1) 25%,
      rgba(3, 3, 3, 1) 25%,
      rgba(3, 3, 3, 1) 50%,
      transparent 50%,
      transparent 75%,
      rgba(8, 8, 8, 1) 75%,
      rgba(8, 8, 8, 1)
    );
  background-color: rgba(10, 10, 10, 1);
  background-size: 20px 20px;
}
